celery
dj-database-url
django<=3
django-crispy-forms
django-filter==0.15
django-mathfilters
django-on-heroku
django-restql==0.15.1
environs
gunicorn
markdown2
pandas
jsonpickle
psycopg2
pybedtools
pytest-django
pytest-env
requests
djangorestframework-filters==0.11.1
whitenoise
pyvcf
