celery
dj-database-url
django<=3
django-crispy-forms
django-mathfilters
django-on-heroku
django-restql
environs
gunicorn
markdown2
pandas
jsonpickle
psycopg2
pybedtools
pytest-django
pytest-env
requests
djangorestframework-filters
whitenoise
pyvcf
