<!-- templates/registration/password_reset_done.html -->
{% extends 'bed_maker/base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand">Password Reset</a>
  </nav>
  <br>
<div class="container">
      <h1>Check your inbox.</h1>
      <p class="m-auto p-2">We've emailed you instructions for setting your password. You should receive the email shortly!</p>
      <p class="m-auto p-2">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.
		  </p>
      <p class="m-auto p-2"><a href="{% url 'home' %}">Return to home page</a></p>
  </div>
{% endblock %}