
{% extends 'bed_maker/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

    <!-- Bootstrap and datatables CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "DataTables/Bootstrap-4-4.1.1/css/bootstrap.min.css" %}"/>
      <!-- js Deliver CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>

<br>
<div class="container">
    <!-- Content here -->
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand">Edit Bedfile Requests</a>
    </nav>
    <br>

    <div id="transcripts-table"></div>

    <script>


    //get table data from API
    function Get(yourUrl){
        var Httpreq = new XMLHttpRequest(); // a new request
        Httpreq.open("GET",yourUrl,false);
        Httpreq.send(null);
        return Httpreq.responseText;          
    }

    //call function to get data to populate table
    tableDataNested = JSON.parse(Get("http://127.0.0.1:8000/api/v1/genes/?format=json"));

    
    //function to dynamically display Ensembl ID with version number 
    var addVersionToEnsemblID = function(value, data, type, params, component){
        //change age value into boolean, true if over the provided legal age
        if(data["transcript_id"]){
            return value + "." + data["ensembl_transcript_version"];
        }
        else if (data["gene_id"]) {
            return value;
        }
    }

    //function to dynamically display RefSeq ID with version number 
    var addVersionToRefSeqID = function(value, data, type, params, component){
        //change age value into boolean, true if over the provided legal age
        if(data["RefSeq_transcript_id"]){
            return value + "." + data["RefSeq_transcript_version"];
        }
        else {
            return value;
        }
    }

    //function to dynamically sispaly clinvar coverage as %  
    var convertToPercentage = function(value, data, type, params, component){
        //change age value into boolean, true if over the provided legal age
        if(data["transcript_id"]){
            percentage_coverage = value * 100;    
            return percentage_coverage.toFixed(2);
        }
        else {
            return value;
        }
    }
 

    //initialize table
    var table = new Tabulator("#transcripts-table", {
        height: "550px",
        data: tableDataNested,
        dataTree: true,
        dataTreeChildField:"gene_transcripts",
        dataTreeStartExpanded: false,
        pagination: "local",       //paginate the data
        paginationSize: 50,        
        columns: [,
            { title: "Ensembl ID", field: "ensembl_id", mutator:addVersionToEnsemblID, frozen:true, width:175,},
            { title: "Name", field: "display_name", responsive: 0, frozen:true, width:100,}, //never hide this column
            { title: "Suggested", field: "recommended_transcript", hozAlign: "center", formatter: "tickCross", formatterParams:{ allowEmpty:true,}, sorter: "boolean", frozen:true, headerVertical:true, headerTooltip:"Recommended as clinically relevant transcript as per 4 prioritization rules outlined in the User Guide"},
            { title: "Selected", field: "selected_transcript", hozAlign: "center", formatter: "tickCross", formatterParams:{ allowEmpty:true,}, sorter: "boolean", editor: true, frozen:true,  headerVertical:true, headerTooltip:"If selected then this transcript will be included in any bed file created"},           
            { title: "Chr", field: "chromosome", width:75,},
            { title: "Start", field: "start", width:100,},
            { title: "End", field: "end", width:100,},
            { title: "MANE", field: "MANE_transcript", hozAlign: "center", formatter: "tickCross", formatterParams:{ allowEmpty:true,}, sorter: "boolean", headerVertical:true, headerTooltip:"Subset of RefSeq Select transcripts categorized as MANE, which are agreed upon as representative by both NCBI RefSeq and Ensembl/GENCODE, and have a 100% identical match to a transcript in the Ensembl annotation."},
            { title: "RefSeq ID", field: "RefSeq_transcript_id", mutator:addVersionToRefSeqID, width:100,},
            { title: "HGMD", field: "RefSeq_HGMD_transcript", hozAlign: "center",formatter: "tickCross", formatterParams:{ allowEmpty:true,}, sorter: "boolean", headerVertical:true,headerTooltip:"Subset of RefSeq Curated, transcripts annotated by the Human Gene Mutation Database."},
            { title: "biotype", field: "biotype", hozAlign: "center", headerVertical:true, width:130, headerTooltip:"Protein Coding, a transcipt that contains an open reading frame (ORF)."},
            { title: "% ClinVar", field: "clinvar_coverage", mutator:convertToPercentage, headerTooltip:"The % of ClinVar variants in gene covered by the transcript."}, 
            { title: "Exon Padding", field: "exon_padding", hozAlign: "center", editor: true, headerVertical:true, headerTooltip:"Base pairs to pad exons (Integer)",},
            { title: "Introns?", field: "include_introns", hozAlign: "center", formatter: "tickCross", formatterParams:{ allowEmpty:true,}, sorter: "boolean", editor: true, headerVertical:true, headerTooltip:"Include introns",},
            { title: "5' UTR?", field: "include_5utr", hozAlign: "center", formatter: "tickCross", formatterParams:{ allowEmpty:true,}, sorter: "boolean", editor: true, headerVertical:true, headerTooltip:"Include 5' UTR",},
            { title: "3' UTR?", field: "include_3utr", hozAlign: "center", formatter: "tickCross", formatterParams:{ allowEmpty:true,}, sorter: "boolean", editor: true, headerVertical:true, headerTooltip:"Include 3' UTR",},
            { title: "5' UTR padding", field: "padding_5utr",  hozAlign: "center", editor: true, headerVertical:true, headerTooltip:"Base pairs to pad upstream of 5' UTR (Integer)"},
            { title: "3' UTR padding", field: "padding_3utr",  hozAlign: "center", editor: true, headerVertical:true, headerTooltip:"Base pairs to pad downstream of 3' UTR (Integer)"},
            
        ],
    });
    </script>
</div>
</body>

{% endblock %}