{% extends 'bed_maker/base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
{% load crispy_forms_tags %}

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand">Manual import</a>
  </nav>
  <br/>

  <!-- Success message after import -->
  {% if message %}
    {% for m in message %}
      <div class="alert alert-success">
        <strong>Success!</strong> {{ m }}
      </div>
    {% endfor %}
  {% endif %}

    {% crispy import_form %}

{% else %}
<p>You are not authorised to view this page. Please login!</p>
<a class="btn btn-outline-primary m-2"  href="{% url 'login' %}">Login</a>
{% endif %}	
{% endblock %}