{% extends 'bed_maker/base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand">View transcripts</a>
    </nav>
    <br>

    <table id="transcripts" class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Gene</th>
            <th>Transcript</th>
            <th>Start</th>
            <th>End</th>
            <th>MANE Transcript?</th>
            <th>RefSeq stable ID</th>
          </tr>
        </thead>
        <tbody>
          {% for var in transcripts %}
          <tr>
            <td>{{ var.display_name }}</td>
            <td>{{ var.ensembl_transcript_id }}</td>
            <td>{{ var.start }}</td>
            <td>{{ var.end }}</td>
            <td>{{ var.MANE_transcript }}</td>
            <td>{{ var.RefSeq_transcript_id }}</td>

          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    
    
    <!-- Initialise DataTables-->
    <script>
        $(document).ready(function(){
        
         // Setup - add a text input to each footer cell
            $('#transcripts tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" class="form-control" placeholder="Search '+title+'" />' );
            } );
         
            // DataTable
              // Inititialise DataTable
          var table = $('#transcripts').DataTable({
            "paging":   true,
            "ordering": true,
            "info":     false,
            "pageLength": 10,
            "searching": true,
            "aaSorting": [],
          });
         
            // Apply the search
            table.columns().every( function () {
                var that = this;
         
                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        
        
        });
        </script>
 {% else %}
<p>You are not authorised to view this page. Please login!</p>
<a class="btn btn-outline-primary m-2"  href="{% url 'login' %}">Login</a>
{% endif %}	
{% endblock %}