{% extends 'bed_maker/base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand">Transcripts for Requested ID: {{ request_id }}</a>
    </nav>
    <br>

    <table id="transcripts2" class="table table-hover table-bordered">
      <form action ='/selected_transcripts/' method ='post' id='get_transcript_id' >
        {% csrf_token %}
        <thead>
          <tr>
            <th>Select</th>
            <th>Ensemble Gene ID</th>
            <th>Gene</th>
            <th>Transcript</th>
            <th>Chr</th>
            <th>Start</th>
            <th>End</th>
            <th>Exons No</th>
            <th>MANE Transcript?</th>
            <th>RefSeq stable ID</th>
          </tr>
        </thead>
        <tbody>
          {% for var in transcripts %}
          
          <tr>
            <td><div class="form-check" style='text-align: center;'>
              <input class="form-check-input " type="checkbox" name='selected_trans[]' form = "get_transcript_id" value=
              '{{ var.transcript_id }}'>
            </div></td>
            <td>{{ var.gene_id.ensembl_gene_id }}</td>
            <td>{{ var.display_name }}</td>
            <td>{{ var.ensembl_transcript_id }}</td>
            <td>{{ var.gene_id.chr_num }}</td>
            <td>{{ var.start }}</td>
            <td>{{ var.end }}</td>
            <td>{{ var.num_exons }}</td>
            <td>{{ var.MANE_transcript }}</td>
            <td>{{ var.RefSeq_transcript_id }}</td>

          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>
              <input type="hidden" name='request_number' form = "get_transcript_id" value = '{{ request_id }}'>
              <button type="submit" class="btn btn-lg btn-primary" form ='get_transcript_id'  name="transcript_id" ><p1>Import</p1></button>
            </th>  
            <th><add></add></th>
            <th><add></add></th>
            <th><add></add></th>
            <th><add></add></th>
            <th><add></add></th>
            <th><add></add></th>
            <th><add></add></th>
            <th><add></add></th>
            <th><add></add></th>
          </tr>
        </tfoot>
      </form>
      </table>
    
    
    <!-- Initialise DataTables-->
    <script>
        $(document).ready(function(){
        
         // Setup - add a text input to each footer cell
            $('#transcripts2 tfoot th add').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" class="form-control" placeholder="Search '+title+'" />' );
            } );
    
         
            // DataTable
              // Inititialise DataTable
          var table = $('#transcripts2').DataTable({
            "paging":   true,
            "ordering": true,
            "info":     false,
            "pageLength": 10,
            "searching": true,
            "aaSorting": [],
          });
         
            // Apply the search
            table.columns().every( function () {
                var that = this;
         
                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
            $('#request_number').attr('checked', 'checked');

        });
        


        </script>
 {% else %}
<p>You are not authorised to view this page. Please login!</p>
<a class="btn btn-outline-primary m-2"  href="{% url 'login' %}">Login</a>
{% endif %}	
{% endblock %}